.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.panel {
  background-color: white;
  width: 50vw;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 13px -16px 42px -30px rgba(162, 162, 167, 1);
}

.inputs {
  padding: 0 10px 0 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.facilitiesContainer {
  width: 50%;
  padding: 0 10px;
}

.input {
  width: 80%;
  margin-bottom: 10px;
}

.descInput {
  width: 100%;
  height: 150px;
}

.fileInput {
  border: none;
}

.fileInput:focus {
  border: none;
}

.facilitiesInput {
  width: 20px;
  height: 20px;
}

.facilities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

.title {
  color: #196f3a;
}

.facilitiesTitle {
  color: #196f3a;
}

@media (max-width: 1024px) {
  .panel {
    width: 80vw;
  }

  .inputs,
  .facilitiesContainer {
    width: 100%;
    padding: 10px 0;
  }

  .form {
    flex-direction: column;
  }

  .descInput {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .panel {
    width: 95vw;
  }

  .facilities {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
