.header {
  width: 100vw;
  height: 8vh;
  background-color: #196f3a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.headerSection {
  width: 50%;
  height: 70%;

  display: flex;
  justify-content: space-between;
}
.logoContainer {
  padding-left: 10px;
  flex: 1;
  height: 100%;

  display: flex;
  align-items: center;
}
.faqContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.faqButton,
.languageButton {
  background-color: #196f3a;
  outline: none;
  box-shadow: none;
  border: none;
}

.faqButton:focus,
.languageButton:focus {
  outline: none;
}
.faqButton:hover,
.languageButton:hover {
  outline: none;
  box-shadow: none;
  background-color: #6ea74e;
}

.headerTitle {
  color: White;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.headerTitle:hover {
  cursor: pointer;
  color: white;
}
.accountContainer {
  display: flex;
  align-items: center;
}
.profileDetails {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.shareHotel {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}
.accountIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: White;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accountImage {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 50%;
}
.userName {
  color: white;
  font-weight: bold;
}
.userOptions {
  color: orange;
}
.loginButton {
  background-color: #6ea74e;
  color: white;
  font-weight: bold;
}
