.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.title {
  color: black;
  font-size: 1.5rem;
}
.facilities {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
